html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.mainContainer {
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
    color: #444;
    font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
    line-height: 1.7;
}


.mainContainer__header {
    color: #012074;
}


.mainContainer__image {
    margin: 10px;
    border-radius: 10px;
    width: 800px;
    height: 450px;
}


.button {
    color: white;
    background-color: #02164e;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}


.button__styles:hover {
    color: rgb(145, 155, 202);
}


.button__styles:active {
    color: rgb(103, 110, 145);
}


.navigation {
    border: 1px solid rgb(219, 211, 211);
}


.navigation__linkContainer {
    list-style: none;
    
}


.navigation__linkContainer--linkElement {
    color: #20a3dd;
    text-decoration: none;
    cursor: pointer;
    padding-left: 10px;
}


.navigation__linkContainer--linkElement:hover {
    color: rgb(37, 74, 236);
}


.navigation__linkContainer--linkElement:active {
    color: rgb(73, 102, 233);
}


.prompt {
    border: 4px solid rgb(0, 174, 255);
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;    
    line-height: 1.7;
    margin-bottom: 10px;
    text-align: justify;
}


.prompt__header {
    padding-left: 40px;
}


.questions {
    background-color: #f3f7f7;
}


.questions__header {
    color: #012074;
    padding-left: 40px;
}


.questions__paragraph--header {
    color: #012074;
    font-weight: 600;
}


.table {
    overflow-x: auto;
}


.table__container {
    border-collapse: collapse;
    width: 100%;
}


.table__header {
    color: #012074;
}


.table__cell {
    border: 1px solid rgb(236, 230, 230);
    text-align: center;
}


.table__cell--rowColor {
    color: #012074;
}


.table__cell--column {
    color: white;
    background-color: #20a3dd;
}

.table__row:hover {
    background-color: rgb(238, 245, 245);
}



.questinsHideContainer {
    display: none;
}


.mainBackground {
    background-color: #dfe9e8;
}


.additionSupplement {
    margin: 0 auto;
    margin: 40px 40px;
    max-width: 750px;
    color: black;
    background-color: #ebebf1;
    border-radius: 10px;
    padding: 20px 40px;
    font-style: italic;
}