.table {
    overflow-x: auto;
}


.table__container {
    border-collapse: collapse;
    width: 100%;
}


.table__header {
    color: #012074;
}


.table__cell {
    border: 1px solid rgb(236, 230, 230);
    text-align: center;
}


.table__cell--rowColor {
    color: #012074;
}


.table__cell--column {
    color: white;
    background-color: #20a3dd;
}

.table__row:hover {
    background-color: rgb(238, 245, 245);
}